@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #333;
    color: #fff;
    font-family: 'Lexend', sans-serif;

    transition: all ease-in-out .5s;
}
.light-mode {
    background-color: #fff;
    color: #333;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}