header {
    height: 8.5vh;
    top: 0;
    position: sticky;
    background-color: #20202098;
    backdrop-filter: blur(10px);
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 20px;
}
header nav ul a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    transition: all ease-in-out .3s;
}
header nav ul a:hover {
    color: orange;
    text-decoration: overline;
}
header nav .params button {
    cursor: pointer;
    padding: 10px;
    margin: 20px 5px;
    border: none;
    border-radius: 50px;
    transition: all ease-in-out .3s;
}
.light-mode header nav .params button {
    background: #333;
}
header nav .params select {
    cursor: pointer;
    padding: 5px;
    margin: 20px 5px;
    border: none;
    border-radius: 2px;
    transition: all ease-in-out .3s;
}
.light-mode header nav .params select {
    background: #333;
    color: white;
}

.header_hamburger {
    cursor: pointer;
    display: none;
}
.header_hamburger_bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.header_hamburger--open .header_hamburger_bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.header_hamburger--open .header_hamburger_bar:nth-child(2) {
    opacity: 0;
}
.header_hamburger--open .header_hamburger_bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

#header_home {
    height: 91.5vh;
}
.light-mode #header_home img {
    background: #333;
    border-radius: 300px;
}

@media screen and (max-width: 790px) {
    header nav ul {
        display: none;
    }

    .header_hamburger {
        cursor: pointer;
        display: block;
    }
}

main section {
    height: 100vh;
    border: 2px solid red;
}